In [11]:
import pandas as pd
import json

In [36]:

df_movie_abt = pd.read_csv("https://raw.githubusercontent.com/drarvindsathi/movie_recommender_data/main/data/movie_abt.csv")
df_movie_abt

/Users/asathi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,6,16,34,35,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,movieId,title,genres,movie_title,movie_year,movie_genre,imdbId,tmdbId,id,...,budget_adj,revenue_adj,tid,title_IMDB,url,imdbRating,duration,year,nrOfWins,nrOfNominations
0,0,1.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story,1995,"['Adventure', 'Animation', 'Children', 'Comedy...",tt0114709,862.0,862.0,...,42929006.01,517950958.5,tt0114709,Toy Story (1995),http://www.imdb.com/title/tt0114709/,8.3,4860,1995,19,13
1,1,2.0,Jumanji (1995),Adventure|Children|Fantasy,Jumanji,1995,"['Adventure', 'Children', 'Fantasy']",tt0113497,8844.0,8844.0,...,93012846.36,376054156.1,tt0113497,Jumanji (1995),http://www.imdb.com/title/tt0113497/,6.8,6240,1995,4,8
2,2,3.0,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995,"['Comedy', 'Romance']",tt0113228,15602.0,15602.0,...,0.00,0.0,tt0113228,Der dritte Fr√ºhling (1995),http://www.imdb.com/title/tt0113228/,6.5,6060,1995,2,1
3,3,4.0,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale,1995,"['Comedy', 'Drama', 'Romance']",tt0114885,31357.0,31357.0,...,22895469.87,116555336.5,tt0114885,Waiting to Exhale - Warten auf Mr. Right (1995),http://www.imdb.com/title/tt0114885/,5.5,7440,1995,8,8
4,4,5.0,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995,['Comedy'],tt0113041,11862.0,11862.0,...,0.00,109581884.4,tt0113041,Ein Geschenk des Himmels - Vater der Braut 2 (...,http://www.imdb.com/title/tt0113041/,5.8,6360,1995,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42169,42169,NaN,NaN,NaN,Peep Show Sectioning,2005,NaN,NaN,NaN,NaN,...,NaN,NaN,tt0672488,Peep Show Sectioning (TV Episode 2005),http://www.imdb.com/title/tt0672488/,7.7,1440,2005,0,0
42170,42170,NaN,NaN,NaN,Playhouse 90 The Miracle Worker,1957,NaN,NaN,NaN,NaN,...,NaN,NaN,tt0675644,Playhouse 90 The Miracle Worker (TV Episode 1957),http://www.imdb.com/title/tt0675644/,7.3,5400,1957,0,0
42171,42171,NaN,NaN,NaN,Private Screenings Robert Mitchum and Jane Rus...,1996,NaN,NaN,NaN,NaN,...,NaN,NaN,tt0679222,Private Screenings Robert Mitchum and Jane Rus...,http://www.imdb.com/title/tt0679222/,7,3600,1996,0,0
42172,42172,NaN,NaN,NaN,Providence All the King's Men,2002,NaN,NaN,NaN,NaN,...,NaN,NaN,tt0680064,Providence All the King's Men (TV Episode 2002),http://www.imdb.com/title/tt0680064/,NaN,3600,2002,0,0
42173,42173,NaN,NaN,NaN,QI Adam,2003,NaN,NaN,NaN,NaN,...,NaN,NaN,tt0681024,QI Adam (TV Episode 2003),http://www.imdb.com/title/tt0681024/,7.6,1800,2003,0,0

In [37]:
movie_json_list = json.loads(df_movie_abt.to_json(orient='records'))

In [38]:
genre_1 = "Drama"
movie_in_genre = []
for movie_json in movie_json_list:
    if movie_json['movie_genre']:
        if genre_1 in movie_json['movie_genre']:
            movie_in_genre.append(movie_json)
len(movie_in_genre)

13344

In [39]:
def query_builder(dict):
    intent = dict["intent"]
    entity_type = dict["entity_type"]
    entity_value = dict["entity_value"]
    df_movie_abt = pd.read_csv("https://raw.githubusercontent.com/drarvindsathi/movie_recommender_data/main/data/movie_abt.csv")
    movie_json_list = json.loads(df_movie_abt.to_json(orient="records"))
    if intent == 'count_movies_by_genre':
        if entity_type == "genre":
            genre_to_count = entity_value
            movie_in_genre = []
            for movie_json in movie_json_list:
                if movie_json['movie_genre']:
                    if genre_to_count in movie_json["movie_genre"]:
                        movie_in_genre.append(movie_json)
            return {'message': len(movie_in_genre)}

In [40]:
data_1 = {"intent": "count_movies_by_genre",
          "entity_type": "genre",
          "entity_value": "Drama"}
query_builder(data_1)

/Users/asathi/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (2,3,6,16,34,35,37) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

{'message': 13344}